<ion-view title="Actions">
  <ion-content scroll="false" class="actions-container padding">
    <div class="row">
      <div class="col item-container">
        <a class="action-btn action-verbal">
          <img class="action-img" src="../img/phone-call.png" />
        </a>
        <span class="action-name">Violence<br>verbale</span>
      </div>
      <div class="col item-container">
        <a class="action-btn action-aggressif">
          <img class="action-img" src="../img/phone-call.png" />
        </a>
        <span class="action-name">Violence<br>physique</span>
      </div>
    </div>
    <div class="vertical-actions">
      <div class="row vertical-wrapper">
        <div class="col item-container">
          <a class="action-btn action-police">
            <img class="action-img" src="../img/policeman.png" />
          </a>
          <span class="action-name">Contacter les autorités</span>
        </div>
        <div class="col item-container">
          <a class="action-btn action-call">
            <img class="action-img" src="../img/phone-call.png" />
          </a>
          <span class="action-name">Se faire appeler</span>
        </div>
        <div class="col item-container">
          <a class="action-btn action-tracking">
            <img class="action-img" src="../img/placeholder-white.png" />
          </a>
          <span class="action-name">Se faire accompagner</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
