<ion-view title="Sara" hide-back-button="true">
  <ion-content>
    <div class="row home-container">
      <div class="row map-container">
        <div id="map" data-tap-disabled="true">
        </div>
        <a class="actions-btn" ui-sref="actions">
          <img class="actions-img" src="https://s3.eu-west-2.amazonaws.com/sara-images/MegaphoneBlanc.png"/>
        </a>
      </div>
      <div class="row directions-container">
        <div class="row search-group">
          <label class="item item-input" style="height: 45px; width: 76%;">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="location" class="search-input" g-places-autocomplete autocomplete="off" placeholder="Où va-t-on ?" force-selection="true" options="autocompleteOptions" ng-model="search"/>
          </label>
          <button class="search-btn button button-calm" type="submit">
            Go
          </button>
        </div>
        <div class="row itineraries-group">
          <a class="button button-full">Rentrer à la maison</a>
          <a class="button button-full">Aller au boulot </a>
<!--
          <a class="additionals-itinerary"> + </a>
-->
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
