<ion-view title="Sara">
  <ion-content>
      <div id="map" data-tap-disabled="true">
      </div>
      <a class="actions-btn" ui-sref="actions">
        <img class="actions-img" src="../img/logo-sara.png"/>
      </a>
    <div class="directions-container">
      <div class="row search-group">
        <label class="item item-input" style="height: 45px; width: 90%;">
          <i class="icon ion-search placeholder-icon"></i>
          <input class="search-input" type="text" placeholder="Où va-t-on ?">
        </label>
      </div>
      <div class="row itineraries-group">
        <a class="button button-full">Rentrer à la maison</a>
        <a class="button button-full">Aller au boulot </a>
        <a class="additionals-itinerary"> + </a>
      </div>
    </div>
  </ion-content>
</ion-view>
