<ion-view title="login" hide-nav-bar="true" >
  <ion-content scroll="false" class="login-container padding">
    <div class = "row login-logo row-center">
      <div class="col text-center">
        <img class="logo-image" src="https://s3.eu-west-2.amazonaws.com/sara-images/logo-sara.png"/>
        <h2 class="logo-name">Emma</h2>
        <h3 class="logo-baseline">Être accompagné à tout instant</h3>
      </div>
    </div>
    <div class="row login-btn-container row-center">
      <div class="col text-center">
        <button class="button button-circle button-block icon social-button-facebook" ng-click="handleFbBtnClick()"><i class="icon ion-social-facebook"></i> Connexion avec Facebook</button>
      </div>
    </div>
  </ion-content>
</ion-view>
