.actions-container {
  background: #80adb5;
  padding: 20px 0px;
}

.vertical-actions {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-wrapper {
  width: auto;
  -webkit-flex-direction: column;
}

.vertical-wrapper > .item-container {
  margin-top: 20px;
}

.action-name {
  display: block;
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
  line-height: 1.2;
  color: white;
  font-weight: 100;
  letter-spacing: 1.3px;
}

.item-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.action-btn {
  width: 80px;
  height: 80px;
  padding: 11px 7px;
  background: #FF6471;
  border-radius: 50%;
  display: block;
  border: 4px solid #ffffff;
}

.action-police {
  background: #5888c9;
}

.action-aggressif {
  background: #c14a54;
}

.action-call {
  background: #ffb34b;
  padding: 6px 9px;
}

.action-call > img {
  width: 56px;
}

.action-tracking {
  background: #81d6a5;
  padding: 8px 19px;
}

.action-tracking > img {
  width: 35px;
}

.action-verbal {
  background: #FF6471;
}

.action-img {
  width: 60px;
}


