.login-container {
  padding:0;
  background: linear-gradient( rgba(153, 207, 217, 0.45), rgba(58, 58, 58, 0.45) ), url(https://static.pexels.com/photos/5076/light-person-woman-fire.jpeg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

.login-logo {
  height: 50%;
}

.logo-name {
  color: #ffffff;
  font-size: 35px;
}

.logo-baseline {
  font-weight: 100;
}

.logo-image {
  width: 100px;
  height: 100px;
}

.social-button-facebook {
  background: #29487d;
  color: white;
}

.social-button-facebook:active, .social-button-facebook:hover {
  color: white;
  background: #29487d;
}

.logo-baseline {
  color: white;
}

.login-btn-container {
  height: 50%;
}
