/* Empty. Add your own CSS if you like */

/* home */

.scroll {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.actions-btn {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.home-container {
  flex-direction: column;
  height: 100%;
  background: #99cfd9;
  padding: 0;
}

.map-container {
  position: relative;
  height: 60%;
  padding: 0;
}

.actions-img {
  width: 90px;
  height: 90px;
  padding: 9px;
  background: #FF6471;
  border-radius: 50%;
  border: 4px solid #ffffff;
}

.directions-container {
  background: #99CFD9;
  padding-top: 20px !important;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: column;
}

.directions-container > .row {
  /*-webkit-flex: 1;*/
}

.search-input {
  padding: 10px;
  min-height: 40px;
  font-size: 14px !important;
  border: 0;
}

::-webkit-input-placeholder {
  text-align: center;
  font-size: 18px !important;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
  font-size: 18px !important;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
  font-size: 18px !important;
}

:-ms-input-placeholder {
  text-align: center;
  font-size: 18px !important;
}

.search-group {
  align-items: center;
  justify-content: center;
  /*flex-direction: column;*/
}

.search-btn {
}

.row.itineraries-group {
  -webkit-flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.itineraries-group > a.button.button-full {
  margin: 0;
  height: 45px;
  min-width: 90%;
  text-align: left;
  color: #a5a3a3;
  border: 1px solid #f7f7f7;
}

.additionals-itinerary {
  margin: 0;
  min-width: 90%;
  text-align: center;
  color: white;
  background: #a9dfe8;
  padding: 4px;
  font-size: 24px;
}

.policy-privacy {
  color: #191919;
}

.policy-privacy:hover, .policy-privacy:active {
  color: #ff6471;
}

/* login */
.login-container {
  padding:0;
  background: linear-gradient( rgba(2, 212, 251, 0.45), rgba(58, 58, 58, 0.45) ), url(../img/login-background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}

.login-logo {
  height: 50%;
}

.logo-name {
  color: #ffffff;
  font-size: 35px;
}

.logo-baseline {
  font-weight: 100;
}

.logo-image {
  width: 100px;
  height: 100px;
}

.social-button-facebook {
  background: #29487d;
  color: white;
}

.social-button-facebook:active, .social-button-facebook:hover {
  color: white;
  background: #29487d;
}

.logo-baseline {
  color: white;
}

.login-btn-container {
  height: 50%;
}

/* navbar */

.platform-android .bar .title{
  text-align: center;
  left: 0 !important;
}

.profil-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #ffffff;
}

.profil {
  -webkit-flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 1.6px;
  font-size: 16px;
}

.profil-informations {
  background: #FF6471;
  -webkit-flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-wrapper {
  -webkit-flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
